<html>
  <header>
    <style>
      #form{
        text-align: center;
        background-color: bisque;
        width: 1200px;
        height: 400px;
      }
      #feedack{
        width: 500px;
        height: 200px;
        border-radius: 20px;
      }
      #title{
        width: 500px;
        height: 50px;
        border-radius: 20px;

      }

    </style>
    
    <meta charset="UTF-8">
  </header>

 

     <form id ="form"method="post" action="/">
        <label for="fname">Title </label><br>
        <input id="title" type="text" id="title" name="title" ><br>
        <label for="lname">Feedback & Suggestion</label><br>
        <input id ="feedack"type="text" id="feedback" name="feedback" ><br><br>
        <input type="submit">

      </form>  



     <div style="text-align: center;background-color: bisque;border-radius: 20px;">
      <form action="/data" method="post">
        <input type="radio" id="age1" name="data" value="0">
        <label for="age1">Logout</label><br>
        
        <input type="submit">
    
      </form>
     </div>






     

    


</html>