<html>
  <p>

    <meta charset="UTF-8">
    update data page 
  </p>
     <form method="post" action="/update">
        <label for="fname">id</label><br>
        <input type="text" id="id" name="_id" ><br>

        <label for="lname">name</label><br>
        <input type="text" id="desc" name="name" ><br><br>
        <label for="lname">uname</label><br>
        <input type="text" id="desc" name="uname" ><br><br>



        <label for="lname">city</label><br>
        <input type="text" id="city" name="city" ><br><br>
        <label for="lname">ucity</label><br>
        <input type="text" id="city" name="ucity" ><br><br>


        <input type="submit" value="Submit">
      </form>  

    


</html>